div {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.75rem;
  color: var(--c-white);
  margin-bottom: 1rem;
}

.text {
  color: var(--cn-light-grey);
  font-size: 1.75rem;
  line-height: 2.5rem;
}

.thankYouSection {
  width: 100%;
  min-width: 100%;
  text-align: center;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: translateX(100%);
}

.slideIn {
  opacity: 1;
  transform: translateX(-100%);
}

.rating {
  display: inline-block;
  border-radius: 25px;
  background-color: #262F38;
  color: var(--cp-orange);
  margin-bottom: 3.75rem;
  padding: 0.6rem 1.5rem 0.25rem 1.5rem;
}


