@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
  --clr-cyan: hsl(185, 75%, 39%);
  --clr-dark-blue: hsl(229, 23%, 23%);
  --clr-gray-blue: hsl(227, 10%, 46%);

  --clr-dark-gray: hsl(0, 0%, 59%);

  --fs-default: 1.8rem;
  --ff-main: 'Kumbh Sans', sans-serif;
  --fw-normal: 400;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-grey-main);
  color: #fff;
  font-family: var(--ff-main);
  font-size: var(--fs-default);
  font-weight: var(--fw-normal);
  min-height: 100vh;
  position: relative;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
