@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --clr-p-red: hsl(0, 78%, 62%);
  --clr-p-cyan: hsl(180, 62%, 55%);
  --clr-p-orange: hsl(34, 97%, 64%);
  --clr-p-blue: hsl(212, 86%, 64%);

  --clr-n-very-dark-blue: hsl(234, 12%, 34%);
  --clr-n-grayish-blue: hsl(229, 6%, 66%);
  --clr-n-very-light-grey: hsl(0, 0%, 98%);

  --ff-main: 'Poppins', sans-serif;
  --fs-default: 1.5rem;
  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-n-very-light-grey);
  color: var(--clr-n-very-dark-blue);
  font-family: var(--ff-main);
  font-size: var(--fs-default);
  font-weight: var(--fw-normal);
  min-height: 100vh;
}

header {
  text-align: center;
  margin: 5rem auto;
  width: 85%;
}

main {
  width: 85%;
  margin: 0 auto;
}

h2 {
  font-size: 2.4rem;
  font-weight: var(--fw-light);
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

header p {
  color: var(--clr-n-grayish-blue);
  width: 75%;
  margin: 0 auto;
}

.flexible {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.flexible-inner {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.card {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  height: 22rem;
}

.top-border {
  display: block;
  content: "";
  height: 5px;
  border-radius: 8px 8px 0px 0px;
}

.card-content {
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  padding: 2.4rem;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.card-content h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.card-content p {
  color: var(--clr-n-grayish-blue);
}

.card-icon {
  display: block;
  width: 5.6rem;
  align-self: flex-end;
  margin-top: auto;
}

.cyan {
  background-color: var(--clr-p-cyan);
}

.red {
  background-color: var(--clr-p-red);
}

.orange {
  background-color: var(--clr-p-orange);
}

.blue {
  background-color: var(--clr-p-blue);
}

footer {
  margin: 5.6rem auto 1.6rem auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--clr-p-blue);
}

@media (min-width: 1000px) {
  body {
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
  }

  main {
    width: 90%;
    gap: 3.2rem;
  }

  header {
    margin-top: 0;
    width: 45%;
    margin: 0rem auto 5.6rem auto;
  }

  h2 {
    font-size: 3.6rem;
  }

  h1 {
    font-size: 3.6rem;
    margin-bottom: 1rem;
  }

  header p {
    width: 85%;
  }

  .container {
    max-width: 1250px;
  }

  .flexible {
    flex-direction: row;
    align-items: center;
  }

  .card {
    height: 25rem;
    flex: 1;
  }

  .card-content {
    padding: 2.4rem 3.2rem;
  }

  .card-content p {
    font-size: 1.2rem;
  }

  .flexible-inner {
    flex: 1;
    height: calc(50rem + 2.4rem);
  }

  .card-icon {
    width: 6.4rem;
  }

  footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
}
