@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --clr-white: hsl(0, 0%, 100%);

  --clr-p-veryDarkBlue: hsl(233, 47%, 7%);
  --clr-p-darkDesaturatedBlue: hsl(244, 38%, 16%);
  --clr-p-softViolet: hsl(277, 64%, 61%);

  --clr-n-whiteMainParagraph: hsla(0, 0%, 100%, 0.75);
  --clr-n-whiteStatHeadings: hsla(0, 0%, 100%, 0.6);

  --ff-main: 'Inter', sans-serif;
  --ff-secondary: 'Lexend Deca', sans-serif;

  --fsize: 15px;

  --fweight-normal: 400;
  --fweight-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
}

body {
  background-color: var(--clr-p-veryDarkBlue);
  color: var(--clr-white);
  font-family: var(--ff-main);
  font-size: var(--fsize);
  font-weight: var(--fweight-normal);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

footer {
  position: absolute;
  bottom: 10px;
}

h1 strong {
  color: var(--clr-p-softViolet);
}

.mobile-img {
  width: 100%;
  display: block;
  mix-blend-mode: multiply;
  opacity: 0.75;
}

.desktop-img {
  display: none;
  mix-blend-mode: multiply;
  opacity: 0.75;
}

.img-container {
  width: 100%;
  position: relative;
  background-color: var(--clr-p-softViolet);
}

.overlay {
  background-color: var(--clr-p-softVioletOverlay);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.card {
  background-color: var(--clr-p-darkDesaturatedBlue);
  border-radius: 8px;
  box-shadow: 0px 13px 38px 14px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: 85%;
}

.info {
  padding: 2rem;
}

.general h1 {
  font-size: 1.6rem;
  margin-bottom: 0.75rem;
}

.general p {
  color: var(--clr-n-whiteMainParagraph);
  font-family: var(--ff-secondary);
  line-height: 1.75;
  margin-bottom: 2rem;
}

.statistics ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.stat p:not(:first-child) {
  margin-bottom: 2em;
}

.stat > p:first-child {
  color: var(--clr-white);
  font-size: 1.5rem;
  font-weight: var(--fweight-bold);
  margin-bottom: 5px;
}

.stat > p:last-child {
  color: var(--clr-n-whiteStatHeadings);
  font-family: var(--ff-secondary);
  font-size: 0.75rem;
  letter-spacing: 0.15ch;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .card {
    display: flex;
    flex-direction: row-reverse;
  }

  .img-container {
    width: 50%;
  }

  .mobile-img {
    display: none;
  }

  .info {
    width: 50%;
  }

  .desktop-img {
    display: block;
    object-fit: cover;
    height: 100%;
  }
}

@media (min-width: 1000px) {
  .card {
    text-align: left;
    overflow-wrap: break-word;
    max-width: 1200px;
    height: 500px;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4em;
    padding-right: 6em;
    position: relative;
  }

  .general h1 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }

  .statistics ul {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .stat {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .info {
    padding: 5rem;
    padding-right: 7em;
  }

  .general h1 {
    font-size: 2.5em;
    margin-bottom: 2rem;
  }

  .stat {
    margin-right: 4em;
    text-align: left;
  }
}
