@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
  --clr-white: hsl(0, 0%, 100%);

  --clr-p-dark-magenta: hsl(300, 43%, 22%);
  --clr-p-soft-pink: hsl(333, 80%, 67%);

  --clr-n-dark-muted-magenta: hsl(303, 10%, 53%);
  --clr-n-light-muted-magenta: hsl(300, 24%, 96%);

  --fs-default: 1.5rem;

  --ff-main: 'League Spartan', sans-serif;

  --fw-light: 400;
  --fw-medium: 500;
  --fw-heavy: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-white);
  color: var(--clr-p-dark-magenta);
  font-family: var(--ff-main);
  font-size: var(--fs-default);
  font-weight: var(--fw-medium);
  background-image: url('./images/bg-pattern-top-mobile.svg'),
    url('./images/bg-pattern-bottom-mobile.svg');
  background-repeat: no-repeat;
  background-position: top 0 left 0, bottom 0 right 0;
  background-size: 100% 50vmin;
  background-attachment: fixed;
}

main {
  width: 87.5%;
  margin: 14rem auto;
}

footer {
  padding-bottom: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--clr-p-dark-magenta);
}

.attribution a {
  color: var(--clr-p-soft-pink);
}

.statement {
  color: var(--clr-p-dark-magenta);
  text-align: center;
  margin-bottom: 3.6rem;
}

.statement h1 {
  font-size: 3.75rem;
  font-weight: var(--fw-heavy);
  letter-spacing: -0.1rem;
  line-height: 3.5rem;
  margin: 0 auto 1.6rem auto;
  width: 75%;
}

.statement p {
  color: var(--clr-n-dark-muted-magenta);
  line-height: 2.5rem;
  font-size: 1.75rem;
}

.ratings {
  margin-bottom: 5rem;
}

.rating-card {
  background-color: var(--clr-n-light-muted-magenta);
  border-radius: 8px;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.rating-card:not(last-child) {
  margin-bottom: 1.5rem;
}

.rating {
  margin-bottom: 1.5rem;
}

.rating img:not(last-child) {
  margin-right: 0.5rem;
}

.rating-card figcaption {
  font-size: 1.7rem;
  font-weight: var(--fw-heavy);
}

.testimonials {
  grid-column: 1 / -1;
}

.testimonial-card {
  background-color: var(--clr-p-dark-magenta);
  color: var(--clr-n-light-muted-magenta);
  border-radius: 8px;
  padding: 3rem;
}

.testimonial-card:not(last-child) {
  margin-bottom: 1.5rem;
}

.buyer {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
}

.buyer img {
  border-radius: 50%;
  margin-right: 2rem;
  width: 4rem;
}

.buyer p:first-child {
  font-weight: var(--fw-medium);
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.buyer p:last-child {
  color: var(--clr-p-soft-pink);
  font-size: 1.7rem;
}

.testimonial {
  font-size: 1.7rem;
  font-weight: var(--fw-light);
  line-height: 2.25rem;
}

@media (min-width: 800px) {
  body {
    background-image: url('./images/bg-pattern-top-desktop.svg'),
      url('./images/bg-pattern-bottom-desktop.svg');
    background-size: auto;
    background-position: top 0 left 0, bottom -225px right 0;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .statement {
    align-self: center;
    text-align: left;
    width: 80%;
  }

  .statement h1 {
    font-size: 5.5rem;
    line-height: 4.5rem;
    margin-bottom: 2.75rem;
    width: 100%;
  }

  .statement p {
    font-size: 1.75rem;
    line-height: 2.75rem;
  }

  .rating-card:nth-child(1) {
    align-self: flex-start;
  }
  .rating-card:nth-child(2) {
    align-self: center;
  }
  .rating-card:nth-child(3) {
    align-self: flex-end;
  }

  .ratings {
    align-self: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .rating-card {
    width: 82.5%;
  }

  .testimonial-card {
    max-width: 800px;
    margin: 0 auto;
  }
}

@media (min-width: 1250px) {
  main {
    gap: 3.5rem;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 17.5rem;
    margin-bottom: 17.5rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 1110px;
  }

  footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
  }

  .rating-card {
    display: flex;
    align-items: center;
    padding: 1.75rem 3rem;
  }

  .rating-card figcaption {
    font-size: 1.7rem;
  }

  .rating {
    margin-right: 1.5rem;
    margin-bottom: 0;
  }

  .rating img {
    margin-right: 0.4rem;
  }

  .rating img:last-child {
    margin-right: 1.75rem;
  }

  .testimonials {
    display: flex;
    gap: 2.5rem;
  }

  .testimonial-card {
    height: 85%;
  }

  .testimonial-card:nth-child(1) {
    align-self: flex-start;
  }
  .testimonial-card:nth-child(2) {
    align-self: center;
  }
  .testimonial-card:nth-child(3) {
    align-self: flex-end;
  }
}
